:root {
  --primary-color: hsl(47, 88%, 63%);
  --secondary-color: hsl(0, 0%, 100%);
  --tertiary-color: hsl(228, 45%, 44%);

  --primary-text: hsl(0, 0%, 7%);
  --secondary-text: hsl(0, 0%, 50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Figtree', sans-serif;
  height: 100%;
}

body {
  background-color: var(--primary-color);
  max-width: 90em;
  margin: 0 auto;
  height: 100%;
}

.container {
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 85%;
  max-width: 18.75em;
  border: 0.1em solid black;
  border-radius: 0.625em;
  margin: 0 auto;
  padding: 1em;
  background-color: var(--secondary-color);
  box-shadow: 0.5em 0.5em black;
}

.card-image img {
  width: 100%;
  border-radius: 0.625em;
}

.tag {
  background-color: var(--primary-color);
  font-weight: bold;
  display: inline-block;
  color: var(--primary-text);
  font-size: 0.8rem;
  padding: 0.8em;
  border-radius: 0.5em;
  margin: 1em 0 0.625em;
}

.publish-date {
  color: var(--secondary-text);
  font-size: 0.75rem;
}

.heading {
  font-size: 1.15rem;
  margin: 1em 0 0.5em;
}

.heading:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.description {
  color: var(--secondary-text);
  font-size: 0.8rem;
  line-height: 1.5;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.75em;
  margin: 2em 0 0.9em;
  font-size: 0.9rem;
  font-weight: 800;
}

.author-image {
  width: 12%;
}

.footer {
  height: 3%;
  font-size: 0.75rem;
  text-align: center;
}

.footer a {
  color: var(--tertiary-color);
}
