* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  margin: 100px auto 0;
  border-collapse: collapse;
  font-family: "Inter", sans-serif;
}

thead {
  font-size: 20px;
  background-color: #087f5b;
  color: #fff;
}

th,
td {
  font-size: 18px;
  padding: 10px 40px;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
